/**
 * Custom styles for the demo page
 */

.mdb-logo {
  width: 55px;
  overflow: hidden;
  text-indent: -999px;
  background-image: url("./logo-mdb-small-white.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.intro-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.btn-circle {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  overflow: hidden;
  border-radius: 50%;
}
